<template>
    <layout title="Categories">
        <v-card>
            <v-card-title>
                Categories
                <v-spacer/>
                <v-text-field v-model="search" prepend-inner-icon="search" placeholder="Search categories..."/>
            </v-card-title>
            <v-card-text>
                <v-data-table
                    :headers="headers"
                    :items="category.categories"
                    :search="search"
                >
                    <template #item.action="{ item }">
                        <v-item-group>
                            <v-item>
                                <v-btn icon small><v-icon small>edit</v-icon></v-btn>
                            </v-item>
                            <v-item>
                                <v-btn icon small color="error" @click="deleteCategory(item.id)"><v-icon small>delete</v-icon></v-btn>
                            </v-item>
                        </v-item-group>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-btn fab fixed dark right bottom color="primary" to="/category/new"><v-icon>mdi-plus</v-icon></v-btn>
    </layout>
</template>

<script>
    import Layout from "../../layout/Layout";
    import {mapActions, mapState} from "vuex";
    export default {
        name: "CategoryList",
        components: {Layout},
        data() {
            return {
                headers:[
                    {value:'id',text:'Id'},
                    {value:'name',text:'Name'},
                    {value:'created_at',text:'Created On'},
                    {value:'updated_at',text:'Last Update'},
                    {value:'action',text:'Action'},
                ],
                search:''
            }
        },
        computed: {
            ...mapState(['category'])
        },
        methods:{
            ...mapActions(['loadCategories']),
            deleteCategory(id){
                alert(id);
            }
        },
        mounted() {
            this.loadCategories();
        }
    }
</script>

<style scoped>

</style>