<template>
    <layout title="New Category">
        <v-form @submit.prevent="saveCategory" ref="frmcat">
            <v-card max-width="400" class="ma-auto" :loading="loading">
            <v-card-title>Create new category</v-card-title>
            <v-card-text>
                <v-text-field label="Name of category" v-model="fields.name" :rules="rules.name" :error="errors.name.length>0" :error-messages="errors.name" clearable/>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text color="primary" type="submit" :loading="loading">Save</v-btn>
                <v-btn text @click="$router.back()">Cancel</v-btn>
            </v-card-actions>
        </v-card>
        </v-form>
    </layout>
</template>

<script>
    import Layout from "../../layout/Layout";
    import Validator from "../../util/Validator";
    import {api} from "../../api";
    export default {
        name: "CategoryNew",
        components: {Layout},
        data() {
            return {
                loading: false,
                fields: {
                    name: ''
                },
                rules: {
                    name: [...new Validator('Name').required().make()]
                },
                errors:{
                    name: []
                }
            }
        },
        methods: {
            saveCategory() {
                this.loading = true;
                if(this.$refs.frmcat.validate()){
                    api.post("/category",this.fields)
                        // eslint-disable-next-line no-unused-vars
                    .then(value => {
                        this.$root.$snackalert.show('Category Saved');
                        this.$router.back();
                    }).catch(reason => {
                        this.$root.$snackalert.show('Failed to save category','error');
                        if(reason.response.status===422){
                            let err = reason.response.data.error;
                            this.errors.name = err.name;
                        }
                    }).finally(() => {
                        this.loading = false;
                    })
                }
            }
        },

    }
</script>

<style scoped>

</style>