<template>
  <layout-public title="About">
    <v-card>
      <v-card-title>This is an about page</v-card-title>
      <v-card-text>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, at!
      </v-card-text>
    </v-card>
  </layout-public>
</template>
<script>
  import LayoutPublic from "../layout/LayoutPublic";
  export default {
    components: {LayoutPublic}
  }
</script>