<template>
    <layout title="dashboard">
        <v-row v-for="x in 4" :key="x">
            <v-col cols="4" offset="1" v-for="n in 2" :key="n">
                <v-card hover>
                    <v-card-title>
                        <v-icon>person</v-icon>
                    </v-card-title>
                    <v-card-text>
                        Lorem ipsum dolor sit amet.
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-btn @click="$root.$snackalert.show('test lorem dashboard')">
            test
        </v-btn>
    </layout>
</template>

<script>
    import Layout from "../layout/Layout";
    export default {
        name: "Dashboard",
        components: {Layout}
    }
</script>

<style scoped>

</style>