<template>
  <layout-public title="Home">
    <v-img
            src="http://devharish.com/wp-content/uploads/2019/07/cropped-Logo_Harish_new-192x192.png"
            class="my-3"
            contain
            height="200"
    />
    <v-flex mb-4 class="justify-center">
      <h1 class="display-2 font-weight-bold mb-3 text-center">
        Welcome to Vue Front Demo
      </h1>
      <p class="subheading font-weight-regular text--secondary text-center">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Aperiam consequatur consequuntur explicabo labore laudantium officia placeat,
        quam quasi ullam voluptatibus? <router-link to="/about">read more...</router-link>
      </p>
    </v-flex>
  </layout-public>
</template>

<script>
import LayoutPublic from "../layout/LayoutPublic";

export default {
  name: 'home',
  components: {
    LayoutPublic,
  }
}
</script>
