<template>
    <layout-public class="login" title="Login">
        <v-layout justify-center>
            <v-card width="400" class="mt-md-6" :loading="loading">
                <v-card-text class="pa-10">
                    <v-row justify="center" no-gutters class="flex-column">
                        <v-avatar class="align-self-center" color="#eee">
                            <v-icon color="primary">lock</v-icon>
                        </v-avatar>
                        <h1 class="v-card__title text-center ma-auto">Hey, Login here!!!</h1>
                        <v-form @submit.prevent="login" ref="frmLogin">
                            <v-text-field :rules="rules.emailRules" label="Email Address" outlined type="email" v-model="fields.email"></v-text-field>
                            <v-text-field :rules="rules.passwordRules" label="Password" outlined type="password" v-model="fields.password"></v-text-field>
                            <v-btn :loading="loading" color="primary" block type="submit">Login</v-btn>
                        </v-form>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-layout>
    </layout-public>
</template>

<script>
    import LayoutPublic from "../layout/LayoutPublic";
    import {doLogin} from "../api";
    import Validator from "../util/Validator";
    import {mapActions} from "vuex";

    export default {
        name: "Login",
        components: {LayoutPublic},
        data() {
            return {
                valid:false,
                loading: false,
                fields:{
                    email: '',
                    password: '',
                },
                rules: {
                    emailRules: [ ...new Validator('email').required().email().make() ],
                    passwordRules: [ ...new Validator('password').required().make() ]
                }
            }
        },
        methods: {
            ...mapActions(["authSuccess"]),
            login() {
                if(this.$refs.frmLogin.validate()) {
                    this.loading = true;
                    doLogin(this.fields.email, this.fields.password)
                        .then(res => {
                            localStorage.setItem('v-token',res.data.token);
                            this.authSuccess(res.data.user);
                            this.$root.$snackalert.show('Login Success');
                            this.$router.push('/dashboard');
                        }).catch(reason => {
                        console.log(reason.response);
                        this.$root.$snackalert.show('Invalid email or password', 'error');
                    }).finally(() => {
                        this.loading = false;
                    })
                }
            }
        }
    }
</script>

<style scoped>
    .login {

    }
</style>