<template>
    <v-snackbar v-model="snackbar" :color="color">
        {{title}}
        <v-btn text @click="snackbar = false" color="primary">Close</v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        name: "SnackbarAlert",
        data() {
            return {
                snackbar: false,
                title: '',
                color:'default'
            }
        },
        methods:{
            show(title,color='default'){
                this.snackbar = true;
                this.title = title;
                this.color = color;
            }
        }
    }
</script>

<style scoped>

</style>