.not-found-container {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 90vh;
    margin: 0;
}

.not-found-container .full-height {
    height: 90vh;
}

.not-found-container .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.not-found-container .position-ref {
    position: relative;
}

.not-found-container .content {
    text-align: center;
}

.not-found-container .title {
    font-size: 36px;
    padding: 20px;
}

.not-found-container .banicon {
    font-size: 140px;
    color: red;
}