<template>
    <div>
        <v-app-bar
                app
                color="primary"
                dark
        >
            <div class="d-flex align-center">
                <router-link to="/">
                    <v-img
                            alt="Vuetify Logo"
                            class="shrink mr-2"
                            contain
                            src="http://devharish.com/wp-content/uploads/2019/07/cropped-Logo_Harish_new-192x192.png"
                            transition="scale-transition"
                            width="40"
                    />
                </router-link>

                <v-card-title>{{title}}</v-card-title>
            </div>

            <v-spacer></v-spacer>

            <v-btn text to="/login">
                <v-icon>mdi-login</v-icon>
                <span class="ml-2 hidden-sm-and-down">Login</span>
            </v-btn>
            <v-btn text>
                <v-icon>person_add</v-icon>
                <span class="ml-2 hidden-sm-and-down">Register</span>
            </v-btn>
        </v-app-bar>

        <v-content>
            <v-container>
                <slot></slot>
            </v-container>
        </v-content>
    </div>
</template>

<script>
    export default {
        name: "LayoutPublic",
        props: {
            title: {
                type: String,
                default: 'Vue Front'
            },
        },
    }
</script>

<style scoped>

</style>