<template>
    <div>
        <v-navigation-drawer
                temporary app v-model="drawer"
        >
            <template v-slot:prepend>
                <v-list>
                    <v-list-item>
                        <v-list-item-avatar>
                            <v-img src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
                        </v-list-item-avatar>
                    </v-list-item>

                    <v-list-item
                            link
                            two-line
                    >
                        <v-list-item-content v-if="auth.user!=null">
                            <v-list-item-title class="title">{{auth.user.name}}</v-list-item-title>
                            <v-list-item-subtitle>{{auth.user.email}}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-icon>mdi-menu-down</v-icon>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
            </template>

            <v-divider></v-divider>

            <v-list
                    nav
                    dense
            >
                <v-list-item link v-for="item in menus" :key="item.name"
                             :to="item.to"
                             color="primary">
                    <v-list-item-icon>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{item.name}}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                app
                color="primary"
                dark
        >
            <div class="d-flex align-center">
                <v-btn icon @click="drawer = !drawer">
                    <v-icon>menu_open</v-icon>
                </v-btn>

                <v-toolbar-title>{{title}}</v-toolbar-title>
            </div>

            <v-spacer></v-spacer>

            <v-menu offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item @click="logout">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        <v-content>
            <v-container>
                <slot></slot>
            </v-container>
        </v-content>
    </div>
</template>

<script>

    import {mapMutations, mapState} from "vuex";

    export default {
        name: "Layout",
        data() {
            return {
                drawer: false,
                menus: [
                    {
                        name: "Dashboard",
                        icon: "dashboard",
                        to: "/dashboard"
                    },
                    {
                        name: "Category",
                        icon: "category",
                        to: "/category"
                    }
                ]
            }
        },
        computed: {
            ...mapState(['auth'])
        },
        props: {
            title: {
                type: String,
                default: 'Vue Front'
            },
        },
        methods:{
            ...mapMutations(['authLogout']),
            logout(){
                this.authLogout();
            }
        }

    }
</script>

<style scoped>

</style>