<template>
    <v-app>
        <router-view></router-view>
        <snackbar-alert ref="snackalert"></snackbar-alert>
    </v-app>
</template>

<script>
    import SnackbarAlert from "@/components/SnackbarAlert";

    export default {
        name: 'App',

        components: {SnackbarAlert},

        data: () => ({
            //
        }),
        mounted() {
            this.$root.$snackalert = this.$refs.snackalert;
        }
    };
</script>
